.legend {
    font-size: 35px !important;
    font-weight: 500 !important;
    color: #2A6279 !important;
  }

button {
    background-color: rgb(216, 160, 81) !important;
    color: white !important;
}